<form
	[formGroup]="fg"
	(ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value )">
	<div class="form-group">
		<label for="nombre">Nombre </label>
		<input type="text" class="form-control" id="nombre" placeholder="Nombre..." 
		[formControl]="fg.controls['nombre']">
		<ul>
			<li *ngFor= "let r of searchResults">{{r}}

			</li>
		</ul>
		<div *ngIf="fg.controls['nombre'].hasError('required')">Nombre requerido!!</div>
		<div *ngIf="fg.controls['nombre'].hasError('InvalidNombre')">Nombre invalido!!</div>
		<div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">Nombre debe tener al menos {{minLongNombre}} de largo!!</div>
	</div>
	<div class="form-group">
		<label for="imagenUrl">Imagen Url </label>
		<input type="text" class="form-control" id="imagenUrl" placeholder="Url..." 
		[formControl]="fg.controls['url']">
		
	</div>
	<button type="submit" class="btn btn-primary"  *ngIf="fg.valid">Guardar</button>
</form>
