<div	class="container	content">
			<div	class="row">
							<div	class="col-md-6	offset-md-3">
											<span	class="anchor"	id="formLogin"></span>
											<!-- form	card	login	with	validation	feedback	-->
											<div	class="card	card-outline-secondary">
															<div	class="card-header">
																			<h3	class="mb-0">Whishlist</h3>
															</div>
															<div	class="card-body">
																			<form>
																					<div	class="form-group">
																							<label	for="nombre">Nombre</label>
																							<input	type="text"	class="form-control"	id="nombre"	placeholder="Ingresar	
nombre...">
																					</div>
																					<div	class="form-group">
																							<label	for="Imagen	Url">Imagen	Url</label>
																							<input	type="text"	class="form-control"	id="imagenUrl"	placeholder="Ingresar	url...">
																					</div>
																					<button	type="submit"	class="btn	btn-primary">Guardar!</button>
																			</form>
															</div>
											</div>
							</div>
			</div>
			<hr	class="mb-5">
			<div	class="row">
							<app-destino-viaje></app-destino-viaje>
			</div>
</div>
<div	class="col-md-4">
			<div	class="card-content">
							<div	class="card-img">
											<img	src="https://placeimg.com/380/230/nature"	alt="">
											<span><h4>heading</h4></span>
							</div>
							<div	class="card-desc">
											<h3>Heading</h3>
											<p>Lorem	ipsum	dolor	sit	amet	consectetur,	adipisicing	elit.	Laboriosam,	voluptatum!	Dolor	
quo,	perspiciatis
															voluptas	totam</p>
															<a	href="#"	class="btn-card">Read</a>			
							</div>
			</div>
</div>